<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JPACS_Connection" connectionString="Data Source=(local)\JPACS;Initial Catalog=JPACS;User ID=sa;Password=sa20140808$;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DBHelperAssembly" value="SQLDBHelper"/>
    <add key="DBHelper" value="JPACS.Model.SQLDBHelper"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>